/* ASSET */
.asset_cover {
  width: 260px;
  overflow: hidden;
  margin-bottom: 50px;
  height: min-content;
  padding: 0px 15px;
  width: calc(100% / 4);
  white-space: nowrap;
}
.asset_container {
  overflow: hidden;
  border-radius: 15px;
  border: var(--border-1);
}
.asset_image {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
}
.asset_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s;
}
.asset_image:hover img {
  transform: scale(1.15);
}

.asset_details {
  padding: 0px 16px;
  overflow: hidden;
  background: #fff;
  white-space: nowrap;
}
.asset_name_bid,
.asset_artiste_title {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.asset_name_bid p:first-child,
.asset_artiste_title p:first-child {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.asset_artiste_title {
  margin-top: 16px;
  font-size: 600;
  color: #757575;
}
.list_price_value {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.asset_hor_line {
  border: 0;
  margin-top: 16px;
  margin-bottom: 14px;
  margin: 10px 0px 12px;
  border-top: 1px solid var(--color-1);
}

.asset_bid_time {
  font-size: 18px;
  display: flex;
  margin-bottom: 13px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.auction_ends_p {
  font-size: 14px;
  color: #757575;
  margin-bottom: 5px;
}

/* Suggested Asset Item */
.asset_cover_suggested_cover {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.asset_cover_suggested {
  width: 330px;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  height: min-content;
  padding: 0px 0px 0px 24px;
  align-items: flex-end;
}
.asset_cover_suggested .asset_container {
  border-radius: 15px;
}
.asset_cover_suggested .asset_container {
  width: 100%;
}

.asset_cover_suggested .asset_image {
  cursor: pointer;
}
.asset_cover_suggested .asset_image:hover img {
  transform: scale(1.15);
}

.asset_details_suggested {
  padding: 12px 14px;
  max-height: 198px;
  overflow: hidden;
}
.asset_name_price_suggested {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.asset_details_suggested .asset_name {
  font-size: 20px;
  padding-top: 2px;
  margin-bottom: -1px;
  font-family: f3 !important;
}
.asset_bid_time_suggested {
  display: flex;
  margin-top: 3px;
  font-size: 18px;
  color: #757575;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bid_time_container,
.bid_time_container_suggested {
  padding: 0px;
  display: flex;
  font-size: 14px;
  color: #757575;
  align-items: center;
  flex-direction: row;
  padding-bottom: 2px;
}
.bid_time_container p {
  color: #444;
}

.bid_time_container p,
.bid_time_container_suggested p {
  width: 25px;
  height: 20px;
  display: flex;
  margin-right: 5px;
  background: #eee;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.bid_time_container span,
.bid_time_container_suggested span {
  margin-right: 5px;
  font-weight: bold;
}

.bid_time_blinker {
  display: flex;
  margin-left: 10px;
  border-radius: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
  border: 1px solid #000;
}
.bid_time_blinker_dot {
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 100%;
}
.bid_time_blinker_abs {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  border: 1px solid #000;
  animation: expand 5s infinite;
}

.asset_fav_butt {
  font-size: 15px;
  color: #757575;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

/*  */
@media screen and (max-width: 1115px) {
  .asset_cover_suggested {
    width: 280px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1190px) {
  .asset_cover {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 1000px) {
  .asset_cover {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 830px) {
  .asset_cover {
    padding: 0px 5px;
  }
}
@media screen and (max-width: 700px) {
  .asset_cover {
    width: 50%;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 600px) {
  .asset_cover {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
  .asset_details {
    padding: 0px 13px;
  }

  .asset_name_bid,
  .asset_artiste_title {
    font-size: 13px;
  }

  .asset_artiste_title {
    margin-top: 13px;
  }

  .asset_hor_line {
    margin: 10px 0px;
  }

  .auction_ends_p {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .bid_time_container,
  .bid_time_container_suggested {
    font-size: 12px;
  }
  .bid_time_container p,
  .bid_time_container_suggested p {
    width: 25px;
    height: 20px;
    margin-right: 2px;
    border-radius: 4px;
  }
  .bid_time_container span,
  .bid_time_container_suggested span {
    margin-right: 2px;
  }
}
