/* ASSET */
.asset_cover {
  width: 260px;
  overflow: hidden;
  margin-bottom: 50px;
  height: min-content;
  padding: 0px 24px;
  width: calc(100% / 3);
}
.asset_container {
  border: var(--border-1);
}
.asset_image {
  width: 100%;
  aspect-ratio: 1;
  /* height: 260px; */
  overflow: hidden;
}
.asset_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.asset_details {
  padding: 20px 16px 19px;
  min-height: 120px;
  max-height: 198px;
  overflow: hidden;
  letter-spacing: 0.01em;
}

/* .asset_fav_bid,
.asset_name_bid,
.asset_price_artiste {
} */

.asset_name_bid {
  display: flex;
  font-weight: 500;
  flex-direction: column;
}
.asset_name {
  font-size: 24px;
  margin-bottom: 6px;
}

.list_bid_price {
  display: flex;
  font-size: 15px;
  line-height: 17px;
  flex-direction: row;
  justify-content: space-between;
}
.list_price,
.bid_price {
  display: flex;
  max-width: 50%;
  flex-direction: column;
}
.list_price_title,
.bid_price_title {
  color: grey;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.list_price_value,
.bid_price_value {
  color: #333;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-direction: row;
}
/*  */

.asset_hor_line {
  border: 0;
  margin-top: 16px;
  margin-bottom: 14px;
  border-top: 1px solid var(--color-1);
}

.asset_bid_time {
  color: #757575;
  font-size: 18px;
  display: flex;
  margin: 20px 0px 4px;
  flex-direction: row;
}
.bid_time_container {
  display: flex;
  color: #fff;
  font-size: 16px;
  padding: 7px 14px;
  align-items: center;
  background: #000;
  border-radius: 8px;
  flex-direction: row;
}

.artiste_dets {
  display: flex;

  justify-content: space-between;
  flex-direction: row;
  padding: 8px 0px 2px;
}
.artiste_dets_container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.artiste_img {
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  border: var(--border-1);
}
.artiste_img img {
  width: 100%;
}
.artiste_name {
  font-size: 16px;
  text-transform: capitalize;
}

.artiste_follow_button {
  display: flex;
  color: #fff;
  font-size: 16px;
  padding: 7px 14px;
  align-items: center;
  background: #000;
  border-radius: 8px;
  flex-direction: row;
}

/*  */
@media screen and (max-width: 1000px) {
  .asset_cover {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .asset_cover {
    width: 100%;
  }
}
