@import "Reset.module.css";
@import "Fonts.module.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #f3f2ec;
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
}

* {
  font-weight: 420;
  font-family: barlow !important;
  box-sizing: border-box !important;
}

:root {
  --txt: #000;
  --border-1: 1px solid #ddd;
  --border-2: 1px solid #aaa;
}

main {
  width: 100vw;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}

/* LOGO */
#main_logo {
  width: 40px;
  margin-top: -2px;
}
#main_logo path {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

/* NAVBAR */
.top_navbar {
  width: 100vw;
  display: flex;
  font-size: 13px;
  font-weight: 420;
  flex-direction: row;
  align-items: center;
  letter-spacing: 1px;
  padding: 10px 3vw 5px;
  text-transform: uppercase;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
}

.top_nav_links_cover {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top_nav_links {
  height: 100%;
  display: flex;
  color: grey;
  align-items: center;
  flex-direction: row;
}

.top_navbar .main_logo,
.top_navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.top_navbar ul li {
  display: flex;
  cursor: pointer;
  margin: 0px 5px;
  padding: 9px 16px;
  align-items: center;
  justify-content: center;
}
.top_navbar ul li p {
  font-weight: 500;
}
.top_navbar .active_page {
  background: #f8f8f8;
  border-radius: 8px;
  border: var(--border-1);
}
.top_navbar .active_page p {
  color: #000;
}

.top_nav_currency {
  height: 100%;
  display: flex;
  cursor: pointer;
  padding: 15px 20px;
  align-items: center;
  justify-content: center;
}
.top_navbar i {
  margin: 0px 2px;
}

.top_navbar ul li:hover p {
  color: #000;
}

.top_nav_profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 10px;
}

.top_nav_avatar {
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin-bottom: 2px;
  background: #f1f1f1;
  margin-right: 12px;
  border-radius: 100%;
  border: var(--border-2);
}
.top_nav_avatar img {
  width: 100%;
  object-fit: cover;
}

.config_butt {
  display: flex;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 8px;
  padding: 4px 12px;
  align-items: center;
  background: #f7f7f7;
  justify-content: center;
  border: var(--border-1);
}

/* SIDE DECOR */
.side_decor {
  width: 13vw;
  height: 100%;
}

@media screen and (max-width: 1013px) {
  .side_decor {
    display: none;
  }
}
