@import "Reset.module.css";
@import "Fonts.module.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  overflow-x: hidden;
  background: #f3f2ec;
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
}

* {
  line-height: normal;
  letter-spacing: 0.7px;
  font-family: f2 !important;
  box-sizing: border-box !important;
}

:root {
  --txt: #000;
  --color-1: #c2c9d1;
  --color-2: #aaa;
  --border-1: 1px solid #c2c9d1;
  --border-2: 1px solid #aaa;
  --navbar-height: 66px;
}

main {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: var(--navbar-height);
}

/* LOGO */
#main_logo {
  width: 40px;
}
#main_logo path {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

/* CURRENCY TYPE */
.currency_type {
  display: flex;
  margin: 5px 5px 3px;
  border-radius: 100%;
}
.currency_type img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* NAVBAR */
.top_navbar {
  top: 0px;
  z-index: 99;
  width: 100vw;
  display: flex;
  min-height: 66px;
  font-size: 17px;
  position: fixed;
  background: #fff;
  flex-direction: row;
  align-items: center;
  padding: 0px 3vw 5px;
  justify-content: space-between;
}

.top_nav_links_cover {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top_nav_links {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.top_navbar .main_logo,
.top_navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.top_nav_currency,
.top_navbar ul li,
.top_nav_search_button {
  display: flex;
  margin: 14px 0px;
  cursor: pointer;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
}
.top_nav_currency {
  padding: 8px 8px 8px 16px;
}
.top_nav_search_button {
  padding: 8px 4px;
}
.top_navbar i {
  font-size: 19px;
  margin: 0px 2px -2px;
}
.top_nav_search_button i {
  font-size: 16px;
}
.top_navbar ul li:hover p {
  color: #000;
}
