@import "Reset.module.css";
@import "Fonts.module.css";

:root {
  --txt: #000;
  --color-1: #c2c9d1;
  --color-2: #aaa;
  --background: #f5f5f5;
  --border-1: 1px solid #c2c9d1;
  --border-2: 1px solid #aaa;
  --navbar-height: 66px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  overflow-x: hidden;
  background: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
}

* {
  line-height: normal;
  letter-spacing: 0.7px;
  font-family: f2 !important;
  box-sizing: border-box !important;
}

main {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--background);
}

/* SCROLL BAR */
.scroll_bar {
  height: 40px;
  background: #000;
  position: relative;
}
.scroll_bar_inn {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
}
.scroll_copy {
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  animation: scrollText 200s linear infinite;
}

.scroll_copy span {
  font-size: 13px;
  margin: 0px 8px;
  white-space: nowrap;
  letter-spacing: -0.05rem;
  font-family: akk !important;
}
.scroll_copy i {
  width: 2px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
}

@keyframes scrollText {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* LOGO */
#main_logo {
  width: 40px;
}
#main_logo path {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

/* CURRENCY TYPE */
.currency_type {
  display: flex;
  margin: 5px 5px 3px;
  border-radius: 100%;
}
.currency_type img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* NAVBAR */
.top_navbar {
  top: 0px;
  z-index: 99;
  width: 100vw;
  display: flex;
  font-size: 17px;
  position: sticky;
  flex-direction: row;
  align-items: center;
  padding: 25px 3vw 5px;
  justify-content: space-between;
}

.top_nav_links_cover {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top_nav_links {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.top_navbar .main_logo,
.top_navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.top_nav_currency,
.top_navbar ul li,
.top_nav_search_button {
  display: flex;
  margin: 14px 0px;
  cursor: pointer;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
}
.top_nav_currency {
  padding: 8px 8px 8px 16px;
}
.top_nav_search_button {
  padding: 8px 4px;
}
.top_navbar i {
  font-size: 19px;
  margin: 0px 2px -2px;
}
.top_nav_search_button i {
  font-size: 16px;
}
.top_navbar ul li:hover p {
  color: #000;
}
